*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* --------------------NavBar CSS----------------------------------------- */


.nav-container{ 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1F3F6;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 20px;
  background-color: #2874F0;
  color: #F1F3F6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);

}
.nav-logo{
  font-weight: 700;
}
.nav-links > a{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  
}
.nav-cart{
  color: white;
  /* padding: 15px; */
  /* font-size: 15px; */
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
}

.button__badge {
  background-color: #fa3e3e;
  border: #2874F0 2px solid;
  border-radius: 9px;
  color: white;
  padding: 1px 4px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 108px;
}
.icon{
  margin-right: 5px;
}

/* ---------------------------Home page CSS---------------------------- */


.home{
  
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}
.home-heading{
  margin-bottom: 20px;
}
.home-img{
  width: 300px;
  padding: 20px;
  border-radius: 30px;
}
.start-btn{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transform: scale(0.98); 
}
.start-div{
  background-color: #2B8379;
  padding: 9px 30px;
  display: inline-block;
  margin: 10px;
  border-radius: 3px;
}
.start-div:hover{
  background-color:#189486;
}

/* ------------------------Card CSS------------------------------- */


.product-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  max-width: 245px;
  width: 100%;
}
.product > a{
  text-decoration: none;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-card:hover h1{
  color: #2874F0;
}

.product-image {
  width: 100%;
  height: 150px; 
  background-color: #ddd;
  object-fit: cover; 
  margin-bottom: 6px;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  color: black;
  
}
.product-category {
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
}

.card-btn{
  text-align: center;
  margin-bottom: 20px;
  
}

.card-btn:hover {
  background-color: black;
}
.item-btn:hover{
  background-color: black;
}
.item-btn:active {
  background-color:  #333;;
  color: #fff; 
}


/* ---------------------display product CSS ----------------------------*/

.display-product{
  display: grid;
  margin: 20px;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0px;
} 



/* ------------------item detail CSS------------------------- */

.item{
  display: flex;
  padding: 50px;
  background-color: white;
  margin:30px;
  border-radius: 10px;
}

.item-images > img{
  width: 500px;
  margin-right: 15px;
}

.item-rating{
  background-color: #388E3C;
  color: white;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px 0px;
  font-size: 13px;
}
.item-reviews{
  margin-left: 10px;
  font-weight: bold;
  color: #8E8E93;
  font-size: 14px;
}

.item-pricing-detail{
  margin-top: 10px;
  
}

.item-price{
  font-weight: bolder;
  color: black;
  font-size: 25px;
}
.item-cut-price{
  color: #8E8E93;
  font-weight: bold;
  margin-left: 10px;
}
.item-discount{
  color: #318a36;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}

.item-highlights{
  margin-top: 15px;
  color: #8E8E93;
  font-weight: bold;
}
.item-description{
  font-size: 13px;
  font-weight: lighter;
  margin-top: 3px;
}

.item-short-img{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.item-short-img > img{
  cursor: pointer;
  height: 40px;
  border: 1px rgb(211, 205, 205) solid;
}
.item-short-img > img:hover{
  border: 2px #2874F0 solid;
  transform: scale(1.05);
}

.item-btns{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.item-btn{
  color: white;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 3px;
  cursor: pointer;
  
}
.item-add-cart{
  gap: 3px;
  background-color: #FF9F00;
}
.item-buy-now{
  background-color: #FB641B;
  color: white;
}
.item-buy-now > a{
  text-decoration: none;
  color: white;
}
.btn-icon{
  margin-right: 10px;
}


/* ------------------------Cart-Container CSS-------------------------- */
.cart-remove-btn{
  margin-left: 40px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.cart-remove-btn:hover{
  color: #2874F0;
}
.cart-cut-price{
  color: #868484;
  font-size: 14px;
  margin-right:10px ;
}
.cart-description{
  font-size: 14px;
  color: #868484;
  margin: 5px 0px;
}
.cart-title{
  font-weight: 100;
}
.cart-price{
  font-size: 16px;
  font-weight: 600;
}

.cart-continer{
  margin: 20px;
  width:600px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  gap: 150px;
}
.cart-wrap{
  border-bottom: 1px solid #d5d2d2;
  padding: 20px;
  margin: 15px
}
.cart-item{
  display: flex;
  font-size: 10px;
  width: 500px; 
}

.cart-item:hover h1{
  color: #2874F0;
}
.cart-price-heading{
  color: #A2A2A2;
  font-weight: 600;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px #e2dede solid;
}


.cart-item-images{
  margin-right: 20px;
}
.cart-item-images > img{
  width: 150px;
}
.cart-btn{
  border-radius: 50%;
  padding: 5px 10px;
  background-color:rgb(235, 229, 229)ff;
  border: 1px solid #666;
  color: black;
  text-align: center;
  cursor: pointer;
  
}
.cart-counter{
  padding: 10px;
  margin-left: 2px;
}
.cart-counter-num{
  padding: 5px 20px;
  background-color: #ffffff;
  border: 1px #666 solid;
  margin: 5px;
}

.cart-price-details{
  /* border: 2px blue solid; */
  width: 450px;
  background-color: white;
  height: 400px;
}
.cart-bill{
  display: flex;
  justify-content: space-between;
  margin: 25px;
  padding: 10px;
}
.cart-bill-delivery{
  border-bottom: 1px rgb(162, 159, 159) dotted;
  /* padding: 10px; */
}
.cart-bill-total{
  border-bottom: 1px rgb(162, 159, 159) dotted;
  font-weight: 700;
  font-size: 18px;
}
.cart-bill-para{
  color: #569F59;
  font-weight: 600;
  margin-left: 30px ;
}
.cart-bill-green{
  color: green;
}
.cart-del{
  color: #8E8E93;
  margin-right: 5px;
}

/* -----------------Empty Cart CSS--------------------- */

.empty-cart{
  /* border: 2px red solid; */
  margin: 50px 0px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: white;
  width: 100vw;
  gap: 15px;
}
.empty-cart > img{
  width: 200px;
}
.empty-btn{
  /* border: 2px red solid; */
  background-color: #2874F0;
  border-radius: 3px;
  color: white;
  padding: 10px 60px;
  cursor: pointer;
}
.link-btn{
  text-decoration: none;
}

/* ------------------Loading Css-------------------------------- */

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ----------------------SearchBar CSS---------------------------------- */
.search-and-logo{
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-container {
  display: flex;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}

#search-button {
  padding: 7px 30px;
  background-color: white;
  color: #2874F0;
  border: none;
  cursor: pointer;
}
