*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* --------------------NavBar CSS----------------------------------------- */


.nav-container{ 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 20px;
  background-color: #2874F0;
  color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);

}
.nav-logo{
  font-weight: 700;
}
.nav-links > a{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  
}
.nav-cart{
  color: white;
  /* padding: 15px; */
  /* font-size: 15px; */
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
}
/* .badge{
  font-size:12px;
  color: #fff;
  background: red;
  border-radius:50%;
  padding: 0 5px;
  position:relative;
  left:-8px;
  top:-11px;
  opacity:0.9;
} */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 9px;
  color: white;
 
  padding: 1px 3px;
  font-size: 12px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 10px;
  right: 50px;
}

/* ---------------------------Home page CSS---------------------------- */


.home{
  
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}
.home-heading{
  margin-bottom: 20px;
}
.home-img{
  width: 300px;
  padding: 20px;
  border-radius: 30px;
}
.start-btn{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transform: scale(0.98); 
}
.start-div{
  background-color: #2B8379;
  padding: 9px 30px;
  display: inline-block;
  margin: 10px;
  border-radius: 3px;
}
.start-div:hover{
  background-color:#189486;
}

/* ------------------------Card CSS------------------------------- */


.product-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  max-width: 245px;
  width: 100%;
}
.product > a{
  text-decoration: none;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-card:hover h1{
  color: blue;
}

.product-image {
  width: 100%;
  height: 150px; 
  background-color: #ddd;
  object-fit: cover; 
  margin-bottom: 6px;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  color: black;
  
}
.product-category {
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
}

.card-btn{
  text-align: center;
  
}

.card-btn:hover {

  background-color: black;
}


/* ---------------------display product CSS ----------------------------*/

.display-product{
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(4, auto);
} 


/* ------------------item detail CSS------------------------- */

.item{
  display: flex;
  padding: 50px;
  background-color: white;
  margin:30px;
  border-radius: 10px;
}

.item-images > img{
  width: 500px;
  margin-right: 15px;
}

.item-rating{
  background-color: #388E3C;
  color: white;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px 0px;
  font-size: 13px;
}
.item-reviews{
  margin-left: 10px;
  font-weight: bold;
  color: #8E8E93;
  font-size: 14px;
}

.item-pricing-detail{
  margin-top: 10px;
  
}

.item-price{
  font-weight: bolder;
  color: black;
  font-size: 25px;
}
.item-cut-price{
  color: #8E8E93;
  font-weight: bold;
  margin-left: 10px;
}
.item-discount{
  color: #318a36;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}

.item-highlights{
  margin-top: 15px;
  color: #8E8E93;
  font-weight: bold;
}
.item-description{
  font-size: 13px;
  font-weight: lighter;
  margin-top: 3px;
}

.item-short-img{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.item-short-img > img{
  cursor: pointer;
  height: 40px;
  border: 1px rgb(211, 205, 205) solid;
}

.item-btns{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.item-btn{
  color: white;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 3px;
  cursor: pointer;
  
}
.item-add-cart{
  gap: 3px;
  background-color: #FF9F00;
}
.item-buy-now{
  background-color: #FB641B;
}
.btn-icon{
  margin-right: 10px;
}

